* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    background-color: #d1cbcb;
}

#index_banner_1 {
    color:red;
    background-color:yellow;
    text-align: center;
}

nav {
    background-color:rgba(255, 0, 0, 0.541);
}

nav a {
    text-decoration: none;
    line-height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    color:rgba(255, 255, 255, 0.89);
    font-weight: bold;
}

nav a:hover {
    color: #1a9be6;
}

.now {
    color: #1a9be6;

}

#index_bigbox_2 {
    text-align: center;
}

#index_h1_2 {
    text-align: center;
    color: red;
}

#index_h2_1 {
    text-align: center;
    color: blue;
}

#index_main_1 {
    background-color: orange;
}